.search-wrapper {
  display: flex;
  justify-content: center; 
    width: 100%; 
}
.search {
  max-width: 600px;
    width: 100%; 

  
}
.search input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: 0.3s;
}
.search input:focus {
  border-color: rgba(113, 73, 9, 0.5);
  box-shadow: 0 0 5px rgba(113, 73, 9, 0.5);}


.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    padding:20px;
    
}
item-card{
    display: block;
    background-color: white;
    border-radius: 10px;
    padding:15px;
    transition: transform 0.2s, box-shadow 0.2s;
}
item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
} 


