<header class="app-header">
  <div class="header-container">
    <a [routerLink]="['/']" class ='logo'>Home</a>
    <div class="profile-icon">
      <a [routerLink]="(auth.currentUser$ | async) ? '/profile' : '/login'">
        <i class='bx bx-user'></i>
        <span *ngIf="auth.currentUser$ | async as user">Profile</span>
      </a>
      <div *ngIf="!isOnline()" class="offline-banner">
        You are offline. Some features may not work.
      </div>
      <i class='bx bx-info-circle info-icon' (click)="isModalOpen = true"></i> 
    </div>
  </div>
</header>

<app-modal [(isOpen)]="isModalOpen">
  <h3>🍿Welcome to Movie Search!🎬</h3>
  <p>
    Movie Search is a website for searching movies and TV series.
    Enter the movie's name in the search to get information, trailer, and rating.
    The data is taken from the API <a href="http://www.omdbapi.com/" target="_blank">OMDb</a>.<br>
    🔍You can search by name, year, or genre for an accurate result.
  </p>
</app-modal>

<main class="app-main">
  <router-outlet></router-outlet>
</main>


