:host {
  display: block;
  height: 60vh;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* по вертикали */
  align-items: center;     /* по горизонтали */
  height: 100%;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 350px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #604633ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #c09b84ff;
}

.error {
  color: red;
}

a {
  margin-top: 1rem;
  display: inline-block;
}
