<header class="site-header">
  <div class="logo">NK</div>
  <nav>
    <a href="#">Home</a>
    <a href="#">Work</a>
    <a href="#">About</a>
    <a href="#">Contact</a>

    <!--3.event binding (1st button)--> 
    <button class="nav-btn" (click)="toggleMessage()">Toggle Message</button>

  </nav>
</header>

<main>
   <div *ngIf="showExtra" class="message-box">
    ✨ Thanks for visiting 🥳!
  </div>
  <section class="hero">
    <div class="text">
      <h1>👋 Hello, I am <span>Karakoz</span></h1>
      <p>
        Welcome to my personal website!
      </p>
    </div>

    <div class="photo">

    <!-- 2.property binding [src]-->
      <img [src]="photoURL" alt="Karakoz photo">

    </div>
  </section>

  <section id="about" class="about">
    <h2>About Me</h2>
    <div class="about-info">

      <!--1 interpolation {{country}} {{city} -->
      <div class="info-item"><strong>🌍 Country:</strong> {{country}}</div>
      <div class="info-item"><strong>🏙️ City:</strong>{{city}}</div>

      <div class="info-item"><strong>🎓 University:</strong> Kazakh-British technical university</div>
      <div class="info-item"><strong>📚 Course:</strong> 3rd course</div>
      <div class="info-item"><strong>📚 Specialization:</strong>Computer systems and software</div>
      <div class="info-item"><strong>💻 Interests:</strong> Reading fiction, playing big tennis, baking</div>
    </div>

    <!--3.event binding (2nd button)-->
    <div class="like-section">
    <!--2. [disabled]-->
    <button (click)='addLike()' [disabled]="isButtonDisabled">❤️ Like</button>
    <!--1. {{likes}}-->
    <p>Likes: {{ likes }}</p>
  </div>
  </section>
</main>

<footer class="footer">
  <div class="contacts">

<!--4 Two-Way Binding-->
<section class="subscribe-box">
  <h3>Subscribe</h3>
  <input type="email" [(ngModel)]="email" placeholder="Leave your email">
  <br>
  <button (click)="subscribe()">Subscribe</button>
  <p *ngIf="subscribeMessage">{{ subscribeMessage }}</p>
</section>
    <h2>Contacts</h2>
    <ul>
      <li>Email: <a href="mailto:k_nurgaliyeva@kbtu.kz">k_nurgaliyeva@kbtu.kz</a></li>
      <li>GitHub: <a href="https://github.com/KarakozN111" target="_blank">github.com/KarakozN111</a></li>
      <li>LinkedIn: <a href="https://linkedin.com/in/karakoz" target="_blank">linkedin.com/in/karakoz</a></li>
    </ul>
  </div>
</footer>