button {
  background: #74512D;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s;
  margin-bottom: 20px;
}

button:hover {
  background: #5a3d20;
}

div {
  text-align: center;
}

img {
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(67, 54, 23, 0.426);
  margin: 20px 0;
  object-fit: cover;
}

h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
   color: rgb(79, 72, 50);
}

p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto 20px;
   color: rgb(102, 95, 71);
   text-align: justify;
} 

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  background: #fafafa;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
   color: rgb(79, 72, 50);
}

ul li {
  font-size: 15px;
  margin: 8px 0;
  color: rgb(79, 72, 50);
}

ul li b {
  color: #74512D;
} 
