form {
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  font-size: 15px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

button {
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;

}
p{
    text-align: center;
    font-size: 15px;

}
h2{
        text-align: center;
}