/* 🌌 Глобальный градиентный фон */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #0a0220, #2a22c7);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Чтобы контент не перекрывал фон */
app-root {
  display: block;
  min-height: 100vh;
  background: transparent;
}
