.logout-button {
  display: inline-block;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #2d1560;
  transform: scale(1.05);
}

.logout-button:active {
  background-color: #3c15668c;
  transform: scale(0.98);
}


ng-template p {
  font-size: 16px;
  color: #666;
}

ng-template a {
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
}

ng-template a:hover {
  text-decoration: underline;
}
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 3px solid #f2f4f2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Кнопки */
button {
  background-color: #af4caa;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 1rem;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover:not(:disabled) {
  background-color: #4e45a0;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #a5aed6;
  cursor: not-allowed;
}

/* Input для фото */
input[type="file"] {
  margin: 1rem 0;
  font-size: 0.9rem;
}

a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ng-template p {
  color: #777;
  font-size: 1rem;
  margin-top: 2rem;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  min-height: 100vh;
}


.profile-container {
  display: flex;
  gap: 3rem; 
  align-items: flex-start;
  padding: 2rem;
}


.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

/* Профильная картинка */
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f2f4f2;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.right-column {
  flex: 1;
}

.right-column h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fffcfc;
  border-bottom: 2px solid #695f9b;
  padding-bottom: 0.3rem;
}

.right-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 400px;
  overflow-y: auto;
}

.right-column ul li {
  background-color: #6f569f47;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.right-column ul li:hover {
  background-color: #6447a9;

}
.remove-btn {
  background-color: transparent;
  border: none;
  color: #e53935;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 1rem;
 
}
.right-column li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

